:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
  .about-imgs {
    margin-bottom: 20px;
  }
}

@media (max-width: 765px) {
  .weather-container {
    flex-direction: column;
  }

  .box-one {
    order: 2;
  }

  .box-two {
    order: 3;
  }

  .box-three {
    order: 1;
  }
}

body {
  margin-top: 100px;
  display: block;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 3rem;
  margin: 20px 0px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  opacity: 0.7;
}

p {
  font-size: 1.25rem;
  margin: 0px 10px;
  line-height: 1.5;
  text-align: center;
}

.about-paragraphs {
  display: flex;
  margin: 40px;
}

.border-8 {
  border-width: 8px !important;
}

#contact {
  margin-bottom: 20px;
}

#contact-title {
  margin-bottom: 10px;
}

.container {
  max-width: 1320px !important;
  padding: 0px 12px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.header {
  margin-bottom: 60px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.navigation-links a {
  text-align: center;
  border-radius: 4px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.weather-container {
  display: flex;
}
